<div class="panel action-content">
    <div class="panel-header">
        <div class="m-l-30">
            <h6>Trigger {{index}}: {{action.syntax}}</h6>
        </div>

        <div class="control-btn">
            <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            <a href="#" class="panel-copy"><i class="fa fa-copy"></i></a>
            <a href="#" class="panel-move"><i class="fa fa-bars"></i></a>
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div class="panel-content">
        <div class="m-l-30 p-l-30" ng-repeat="attribute in action.values" >
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-41" value="{{attribute.actVal}}" placeholder="{{attribute.actKey}}"/>
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-41">
                    <span class="input__label-content input__label-content--hoshi"></span>
                </label>
            </span>
        </div>
        <div class="bg-light text-right">
            <button type="reset" class="cancel btn btn-embossed btn-white m-r-0">Cancel</button>
            <button type="submit" class="btn btn-embossed btn-primary m-r-20" ng-click="saveTrigger()">Update / Save</button>
        </div>
    </div>
</div>