<div class="action-content">
    <div>
        <h6>Trigger {{index}}: {{action.name}}</h6>
    </div>
    <div class="m-l-10">
        <div ng-repeat="attribute in action.values" >
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-41" value="{{attribute.actVal}}" placeholder="{{attribute.actKey}}"/>
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-41">
                    <span class="input__label-content input__label-content--hoshi"></span>
                </label>
            </span>
        </div>
        <div class="bg-light" style="text-align: right;">
            <button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>
            <button type="submit" class="btn btn-embossed btn-primary m-r-20" ng-click="saveTrigger()">Update / Save</button>
        </div>
    </div>
</div>

