<div>

	<div class="header">
		<h2><strong>New Script</strong></h2>
	</div>

	<!--top band-->
	<div class="panel">
		<div class="panel-header">
			<span class="col-sm-6"><h3>{{scriptor.taskId}} > {{scriptor.scenarioType}}</h3></span>
			<span class="col-sm-6"><a href="#" class="panel-toggle pull-right"><i class="fa fa-edit"></i></a></span>
		</div>
		<div class="panel-content" style="display: none;">
			<!--<p>Panel content.</p>-->
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Application</label>
								<div class="col-sm-6">
									<select class="col-sm-3 form-control" ng-model="applicationName">
										<option ng-repeat="application in applications" value="{{application}}">{{application}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Scenario</label>
								<div class="col-sm-6">
									<select class="col-sm-3 form-control" ng-model="scenarioType">
										<option ng-repeat="scenario in scenarios" value="{{scenario}}">{{scenario}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
                                <span class="input input--hoshi">
                                <input class="input__field input__field--hoshi" type="text" id="input-4" ng-model="taskId" />
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
									<span class="input__label-content input__label-content--hoshi">Task Id</span>
								</label>
                                </span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-sm-offset-3">
							<div class="pull-right">
								<button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>
								<button type="submit" class="btn btn-embossed btn-primary m-r-20" ng-click="">Update / Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end top band-->

	<!--item editor-->
	<div class="row">
		<div class="col-md-9">
					<div class="panel">
					<div class="panel-content">
					<div class="dd nestable">
						<ol class="dd-list">
							<li class="dd-item" data-id="2">
								<div class="dd3-content">Item 1</div>
								<ol class="dd-list">
									<li class="dd-item" data-id="4">
										<div class="dd3-content">M1</div>
										<ol class="dd-list">
											<li class="dd-item" data-id="5">
												<!--panel start-->

												<div class="panel">

													<!--todo: triggers && trigger editor-->

												</div>

												<!--panel end-->

											</li>
										</ol>
									</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<!--action list and search box-->
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-content">
					<form action="search-result.html" method="post" class="searchform" id="search-results">
						<input ng-model="searchActionText" type="text" class="form-control" name="keyword" placeholder="Search...">
					</form>
						<h3><strong>Action list</strong></h3>
						<div class="dd nestable">
							<ul class="dd-list">
								<li ng-repeat="trigger in triggers | filter:searchActionText" class="dd-item" data-id="{{trigger.id}}">
									<div class="dd-handle">{{trigger.name}}</div>
								</li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!--end item editor-->
</div>







