<div>

	<div class="header">
		<h2><strong>New Script</strong></h2>
	</div>

	<div class="panel">
		<div class="panel-header panel-controls">
			<h3>Portlet with controls</h3>
		</div>
		<div class="panel-content">
			<!--<p>Panel content.</p>-->
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Application</label>
								<div class="col-sm-6">
									<select class="col-sm-3 form-control" ng-model="applicationName">
										<option ng-repeat="application in applications" value="{{application}}">{{application}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-3 control-label">Scenario</label>
								<div class="col-sm-6">
									<select class="col-sm-3 form-control" ng-model="scenarioType">
										<option ng-repeat="scenario in scenarios" value="{{scenario}}">{{scenario}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
                                <span class="input input--hoshi">
                                <input class="input__field input__field--hoshi" type="text" id="input-4" ng-model="taskId" />
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
									<span class="input__label-content input__label-content--hoshi">Task Id</span>
								</label>
                                </span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-sm-offset-3">
							<div class="pull-right">
								<button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>
								<button type="submit" class="btn btn-embossed btn-primary m-r-20" ng-click="displayScript()">Update / Save</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>







