<ol class="dd-list" ng-repeat="item in items[0].items">
    <li class="dd-item m-b-10" data-id="{{$index+1}}">
        <div class="dd3-content border-left"><h4>Item {{$index+1}}</h4></div>
        <ol class="dd-list" ng-repeat="method in item.methods">
            <li class="dd-item" data-id="{{100*($parent.$index+1)+$index+1}}">
                <div class="dd3-content"><h5>M{{$index+1}}  {{method.type}}</h5></div>
                <ol class="dd-list" ng-repeat="action in method.actions">
                    <li class="dd-item" data-id="{{10000*($parent.$parent.$index+1)+$index+1}}">
                        <div class="dd3-content" action-item action="action" index="$index+1"></div>
                    </li>
                    <li class="dd-item" ng-if="method.actions.length == $index+1">
                        <div class="dd3-content p-20 f-12">
                            <div class="border p-5 text-center">Drop Action Here</div>
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
</ol>