<div class="panel">
    <div class="panel-content" id="triggerlist">
        <form action="search-result.html" method="post" class="searchform" id="search-results">
            <h3 class="m-t-0"><span class="action-list-title">Action list</span></h3>
            <input ng-model="searchActionText" type="text" class="form-control m-b-5" name="keyword" placeholder="Search...">
        </form>
        <div class="dd nestable">
            <ul class="dd-list">
                <li ng-repeat="trigger in triggers | filter:searchActionText" class="dd-item">
                    <div class="dd-handle" data-id="{{trigger.id}}"><span class="trigger-text">{{trigger.syntax}}</span><span class="pull-right trigger-dragger"><i class="fa fa-bars"></i></span></div>
                </li>
            </ul>
        </div>
    </div>
</div>