<div class="panel" id="triggerlist">
    <div class="panel-content">
        <form id="search-results">
            <h3 class="title m-t-0"><strong>Action list</strong></h3>
            <input search-input ng-model="searchActionText" type="text" class="form-control m-b-5" name="keyword" placeholder="Search...">
            <i ng-show="enabled" ng-mousedown="reset()" class="fa fa-times-circle"></i>
        </form>
        <div class="dd nestable" custom-scroll triggers="triggers">
            <ul class="dd-list">
                <li ng-repeat="trigger in triggers" class="dd-item" ng-show="searchActionText === '' ||  trigger.syntax.toLowerCase().indexOf(searchActionText.toLowerCase()) !== -1">
                    <div class="dd-handle" data-id="{{trigger.id}}"><span class="trigger-text">{{trigger.syntax}}</span><span class="pull-right trigger-dragger"><i class="fa fa-bars"></i></span></div>
                </li>
            </ul>
        </div>
    </div>
</div>