<ol id="item-panel" class="dd-list" ng-repeat="item in items[0].items">
    <li class="li-level-0 dd-item m-b-10">
        <div class="item-level-0 dd3-content border-left">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            <h4>Item {{$index+1}}
                <span class="item-text" ng-hide="editableiteminput.editorenabled == $index">
                        ({{item.text}})
                    <a href="" data-toggle="tooltip" data-placement="top" title="Edit Item Text">
                        <i class="fa fa-pencil p-l-10 item-text-edit-icon" data-index="{{$index}}" style="color: white; display: none"></i>
                    </a>
                </span>
                <span class="item-text-editable" ng-show="editableiteminput.editorenabled == $index">
                    <textarea class="form-control item-textarea"
                              ng-show="editableiteminput.editorenabled == $index"
                              ng-click="editableiteminput.stopEvent($event)"
                            >{{item.text}}</textarea>
                    <a href="" class="item-text-correct" data-index="{{$index}}">
                        <i class="fa fa-check p-l-10" style="color: white"></i>
                    </a>
                </span>
            </h4>
            <div class="control-btn">
                <a class="panel-close"><i class="icon-trash" data-toggle="tooltip" data-placement="top" title="Delete Item"></i></a>
                <a href="#" ng-disabled="editMode" class="panel-copy copy-trigger" data-toggle="tooltip" data-placement="top" title="Copy Item and Paste below"><i class="fa fa-copy"></i></a>
            </div>
        </div>
        <div class="data-items" style="display: none">
            <ol class="dd-list" ng-repeat="method in item.methods">
               <method method="method" item="item" index="$index+1"></method>
            </ol>
            <ol class="dd-list ui-sort-disabled">
                <li class="dd-item m-b-10">
                    <div class="item-level-1 dd3-content add-method-link"><a href="#">+   Add Method</a></div>
                </li>
            </ol>
        </div>
    </li>
</ol>

<ol class="dd-list ui-sort-disabled">
    <li class="dd-item m-b-10">
        <div id="add-item-link" class="item-level-0 dd3-content border-left"><a href="#">+   Add Item</a></div>
    </li>
</ol>