<div class="panel action-content">
    <div class="panel-header">
        <div class="m-l-30">
            <h6>Trigger {{index}}: {{action.syntax}}</h6>
        </div>
        <div class="trigger-values">
            <div ng-repeat="attribute in action.values|limitTo:2">
                <span class="attr-label">{{attribute.actKey}}</span>
                <span class="attr-value">{{attribute.actVal}}</span>
            </div>
        </div>
        <div class="control-btn">
            <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            <a href="#" class="panel-copy copy-trigger"><i class="fa fa-copy"></i></a>
            <a href="#" class="panel-move"><i class="fa fa-bars"></i></a>
            <a href="#" class="panel-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div class="panel-content">

        <form name="triggerForm">
            <div class="m-l-30 p-l-30 trigger-input-parent" ng-repeat="attribute in action.values" ng-init="innerIndex=$index">
                <span class="label" style="display: table">{{attribute.actKey}}</span>
            <span class="input input--hoshi inlineBlock" ng-class="{largeWidth: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)==-1, smallWidth: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1}">
                <input class="input__field input__field--hoshi" type="text" id="input-41" data-index="{{innerIndex}}" ng-model="attribute.actVal"  ng-model-options="{updateOn: 'submit'}" placeholder="{{attribute.actKey}}" ng-class="{elementName: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1}"/>
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-41">
                    <span class="input__label-content input__label-content--hoshi"></span>
                </label>
            </span>
            <span class="input input--hoshi m-l-10 inlineBlock smallWidth" ng-show="$root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1">
                <input class="input__field input__field--hoshi xpath" type="text" id="input-42" placeholder="xpath" data-elementname="{{attribute.actVal}}" ng-class="{elementName: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1}"/>
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-41">
                    <span class="input__label-content input__label-content--hoshi"></span>
                </label>
            </span>
            </div>
            <div class="bg-light text-right">
                <button type="reset" class="cancel btn btn-embossed btn-white m-r-0 trigger-cancel">Cancel</button>
                <button type="submit" value="Submit" class="btn btn-embossed btn-primary m-r-20 trigger-save" ng-click="submit">Update / Save</button>
            </div>
        </form>

    </div>
</div>