<div class="panel action-content">
    <div class="panel-header">
        <div class="m-l-30">
            <h6>Trigger <span ng-hide="droppedTrigger">{{index}}</span>: {{action.syntax}}</h6>
        </div>
        <div class="control-btn">
            <a href="#" class="panel-close"><i class="icon-trash"></i></a>
            <a href="#" ng-disabled="editMode" class="panel-copy copy-trigger"><i class="fa fa-copy"></i></a>
            <a href="#" class="panel-move"><i class="fa fa-bars"></i></a>
            <a href="#" ng-disabled="editMode" class="panel-edit"><i class="fa fa-pencil p-l-10"></i></a>
        </div>
    </div>
    <div class="m-l-30 p-l-30 f-12 p-b-10" ng-hide="editMode">
        <div ng-repeat="attribute in action.values">
            <span class="attr-label"><b>{{attribute.actKey}}</b></span>&nbsp;&nbsp;<span class="m-l-15 attr-value"><i>{{attribute.actVal}}</i></span>
<!--            <span class="p-l-5" ng-show="$root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1">
                <span class="attr-label"><b>&#9741;&nbsp;&nbsp;</b></span><i><span class="m-l-15 attr-value" ng-bind="$root.getXPathForElement(attribute.actVal)"></span></i>
            </span>-->
        </div>
    </div>
    <div class="panel-content toggle-animate" ng-show="editMode">
        <form name="triggerForm" novalidate>
            <div class="m-l-30 p-l-30 trigger-input-parent" ng-repeat="attribute in oldAction.values" ng-init="innerIndex=$index">
                <span class="label" style="display: table">{{attribute.actKey}}</span>
            <span class="input input--hoshi inlineBlock" ng-class="{largeWidth: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)==-1, smallWidth: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1}">
                <input class="input__field input__field--hoshi {{attribute.actKey}}" type="text" id="input-41" data-index="{{innerIndex}}" ng-model="attribute.actVal" placeholder="{{attribute.actKey}}" ng-class="{elementName: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1}" required />
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-41">
                    <span class="input__label-content input__label-content--hoshi"></span>
                </label>
            </span>
            <span class="input input--hoshi m-l-10 inlineBlock smallWidth" ng-show="$root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1">
                <input class="input__field input__field--hoshi xpath" type="text" id="input-42" placeholder="xpath" data-elementname="{{attribute.actKey}}" ng-class="{elementName: $root.TriggerSuggestions.elementNameVariants.indexOf(attribute.actKey)!=-1}" required />
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-41">
                    <span class="input__label-content input__label-content--hoshi"></span>
                </label>
            </span>
            </div>
            <div class="bg-light text-right">
                <button type="reset" ng-disabled="droppedTrigger" class="cancel btn btn-embossed btn-white m-r-0 trigger-cancel">Cancel</button>
                <button type="submit" class="btn btn-embossed btn-primary m-r-20 trigger-save">Update / Save</button>
            </div>
        </form>

    </div>
</div>