<div>
	<div class="header">
		<h2><strong>New Script</strong></h2>
	</div>
	<!--top band-->
	<div class="panel" id="topband">
		<div class="panel-header">
			<span class="p-l-5 breadcrumb">

				<span class="left-block">
					<img src="assets/images/Word.png" alt="App">

					<span class="p-l-20">{{scriptor.taskId}}.{{scriptor.scenarioType}}
						<a class="p-l-20">
							<span class="pipe"></span>
							<i class="fa fa-pencil panel-toggle pointer"></i>
						</a>
					</span>
				</span>

				<span class="right-block pull-right">
					Sync From Baloo
					<a>
						<i class="fa fa-refresh p-l-10 pointer"></i>
					</a>
				</span>

			</span>
		</div>
		<hr class="m-0">
		<form name="userForm">
			<div class="panel-content p-b-0" style="display: none">
					<edit-task></edit-task>
				<div class="row margin-minus-r-l-20">
					<div class="bg-light text-right">
						<button type="reset" class="cancel btn btn-embossed btn-white m-r-20 m-t-10">Cancel</button>
						<button id="save-task-topband" type="submit" class="btn btn-embossed btn-primary m-r-20 m-t-10" ng-click="updateData()">Update / Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--end top band-->
    <scriptor items="taskJson" triggers="triggers" methodtypelist="methodtypelist"></scriptor>
</div>