<div>

	<div class="header">
		<h2><strong>New Script</strong></h2>
	</div>

	<!--top band-->
	<div class="panel" id="topband">
		<div class="panel-header">
			<span class="col-sm-6"><h3><span class="p-l-20 p-r-10">{{scriptor.taskId}}</span> > <span class="p-l-10"> Scenario </span> <span>{{scriptor.scenarioType}}</span></h3></span>
			<span id="custom" class="col-sm-6 pull-right p-r-0">
				<span class="col-sm-9">
				<h5 class="appname-topband-collapsed pull-right"><span class="application-label">Application</span> > <span class="application-value">{{scriptor.applicationName}}</span></h5>
				</span>
				<a href="#" class="panel-toggle edit-icon-topband pull-right m-l-5"><span class="pipe"></span><i class="fa fa-pencil"></i></a>
			</span>
		</div>
		<hr class="m-0">
		<form name="userForm">
			<div class="panel-content p-b-0" style="display: none;">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-sm-5 control-label m-t-5">Application</label>
									<div class="col-sm-7">
										<select class="col-sm-3 form-control use-select2 form-white" data-style="white"
												ng-model="applicationName"
												ng-options="application for application in applications" required>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="col-sm-4 control-label m-t-5">Scenario</label>
									<div class="col-sm-5">
										<select class="col-sm-3 form-control use-select2 form-white" data-style="white"
												ng-model="scenarioType"
												ng-options="scenario for scenario in scenarios" required>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
                                <span class="input input--hoshi taskid-input">
                                <input class="input__field input__field--hoshi" type="text" id="taskid" ng-init="taskId" ng-model="taskId" placeholder="Task Id">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="taskid">
									<span class="input__label-content input__label-content--hoshi"></span>
								</label>
                                </span>
							</div>
						</div>
					</div>
				</div>
				<div class="row margin-minus-r-l-20">
					<div class="bg-light text-right">
						<button type="reset" class="cancel btn btn-embossed btn-white m-r-20 m-t-10">Cancel</button>
						<button id="save-task-topband" type="submit" class="btn btn-embossed btn-primary m-r-20 m-t-10" ng-click="updateData()">Update / Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--end top band-->
    <scriptor items="taskJson" triggers="triggers" methodtypelist="methodtypelist"></scriptor>


</div>