<div>

	<div class="header">
		<h2><strong>New Script</strong></h2>
	</div>

	<!--top band-->
	<div class="panel">
		<div class="panel-header">
			<span class="col-sm-6"><h3>{{scriptor.taskId}} > Scenario {{scriptor.scenarioType}}</h3></span>
			<span id="custom" class="col-sm-6 pull-right">
				<span class="col-sm-9">
				<h5 class="appname-topband-collapsed"><strong>Application > {{scriptor.applicationName}}</strong></h5>
				</span>
				<a href="#" class="panel-toggle edit-icon-topband pull-right"><i class="fa fa-pencil"></i></a>
			</span>
		</div>
		<div class="panel-content" style="display: none;">
			<!--<p>Panel content.</p>-->
			<form name="userForm">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-sm-3 control-label">Application</label>
									<div class="col-sm-6">
										<select class="col-sm-3 form-control"
												ng-model="applicationName"
												ng-options="application for application in applications" required>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-sm-3 control-label">Scenario</label>
									<div class="col-sm-6">
										<select class="col-sm-3 form-control"
												ng-model="scenarioType"
												ng-options="scenario for scenario in scenarios" required>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
                                <span class="input input--hoshi">
                                <input class="input__field input__field--hoshi" type="email" id="taskid" ng-init="taskId" ng-model="taskId" ng-minlength="4" ng-maxlength="24" required>
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="taskid">
									<span class="input__label-content input__label-content--hoshi">Task Id</span>
								</label>
                                </span>
							</div>
						</div>
						<!-- show an error if username is too short -->
						<p class="form-error" ng-show="userForm.$error.minlength">** Task Id is too short.</p>

						<!-- show an error if username is too long -->
						<p ng-show="userForm.$error.maxlength">** Task Id is too long.</p>

						<div class="row">
							<div class="col-sm-9 col-sm-offset-3">
								<div class="pull-right">
									<button type="reset" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Cancel</button>
									<button type="submit" class="btn btn-embossed btn-primary m-r-20" ng-click="userForm.$valid && updateData()">Update / Save</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--end top band-->

	<!--item editor-->
	<div class="row">
		<div class="col-md-9">
                <div class="dd nestable" runner-nested-list data-items="taskJson" id="authoring-nested-list">
                </div>
		</div>
		<!--action list and search box-->
		<div class="col-md-3">
			<div class="panel">
				<div class="panel-content">

					<form action="search-result.html" method="post" class="searchform" id="search-results">
						<h3><strong>Action list</strong></h3>
						<input ng-model="searchActionText" type="text" class="form-control" name="keyword" placeholder="Search...">
					</form>
						<div class="dd nestable">
							<ul class="dd-list">
								<li ng-repeat="trigger in triggers | filter:searchActionText" class="dd-item" data-id="{{trigger.id}}">
									<div class="dd-handle">{{trigger.name}}</div>
								</li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	<!--end item editor-->
</div>

</div>