<div>
	<div class="header">
		<h2><strong>New Script</strong></h2>
	</div>
	<div class="panel" id="topband">
		<form name="userForm">
			<div class="panel-content">
				<div class="row">
					<div class="col-lg-12 m-l-5">
						<div class="row p-l-0">
							<div class="col-md-6 m-b-20 m-t-5">
								<span class="input input--hoshi m-l-0 f-14" ng-class="{'input--filled': taskId !== ''}">
									<input class="input__field input__field--hoshi text-uppercase" type="text" id="taskid" ng-model="taskId" ng-model-options="{ updateOn: 'blur' }">
									<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="taskid">
										<span class="input__label-content input__label-content--hoshi">Task Id</span>
									</label>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="template-choice">
				<p><strong>Template</strong></p>
				<div class="icheck-list">
					<label ng-repeat="templ in templateOptions">
						<input i-check type="radio" name="template-radio" ng-model="$parent.template" ng-value="templ.key">
						{{templ.label}}
					</label>
				</div>

				<div class="col-md-4 copy-taskid" ng-show="template === 'task'">
                                <span class="input input--hoshi taskid-input m-l-0 f-14">
                                <input class="input__field input__field--hoshi m-t-0 text-uppercase" type="text" id="sleid" value="{{copy_task_id}}" ng-model="copy_task_id" placeholder="SKL16.PPT.01.01.01.A1">
                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="sleid">
									<span class="input__label-content input__label-content--hoshi m-b-15"></span>
								</label>
                                </span>
				</div>

			</div>
			<div class="bg-light text-right">
				<button id="save-task-topband" type="submit" class="btn btn-embossed btn-primary m-r-20 m-t-10" ng-click="displayScript()">Save</button>
			</div>
		</form>
	</div>

</div>







