<div>
	<div class="header">
		<h2><strong>New Script</strong></h2>
	</div>
	<div class="panel" id="topband">
		<!--<p>Panel content.</p>-->
		<form name="userForm">
			<div class="panel-content">
				<edit-task></edit-task>
			</div>
			<div class="template-choice">
				<p><strong>Template</strong></p>
				<div class="icheck-list">
					<label ng-repeat="templ in templateOptions">
						<input i-check type="radio" name="template-radio" data-radio="iradio_flat-blue"
							   ng-model="$parent.template" ng-value="templ.key">
						{{templ.label}}
					</label>
				</div>
			</div>
			<div class="bg-light text-right">
				<button id="save-task-topband" type="submit" class="btn btn-embossed btn-primary m-r-20 m-t-10" ng-click="displayScript()">Save</button>
			</div>
		</form>
	</div>
</div>







