<div class="logopanel">
            <h1>
                <a href="#/"></a>
            </h1>
        </div>
        <div class="sidebar-inner left-sidebar">
            <div class="menu-title">
                <span class="header">Menu</span>
            </div>
            <ul class="nav nav-sidebar">
                <li><a ui-sref="app.task-new" data-toggle="tooltip" data-placement="top" title="New Script"><i class="fa fa-undo"></i><span>New Script</span></a></li>
                <li><a data-toggle="modal" data-context="load" data-target="#modal-modalbox" data-toggle="tooltip" data-placement="top" title="Load Existing Script"><i class="fa fa-book"></i><span>Load Existing Script</span></a></li>
                <li><a data-toggle="modal" data-context="export" data-target="#modal-modalbox" data-toggle="tooltip" data-placement="top" title="Export Script"><i class="fa fa-download"></i><span>Export Script</span></a></li>
                <li><a data-toggle="modal" data-context="preview" data-target="#modal-modalbox" data-toggle="tooltip" data-placement="top" title="Preview XML"><i class="fa fa-code"></i><span>Preview XML</span></a></li>
            </ul>
        </div>

<!-- modal-->
<div class="row">
    <modal-box></modal-box>
</div>