<div class="modal fade primary-modal" id="modal-modalbox" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="headerText">
               <span>{{headerText}}</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>

            <hr  class="m-0">
            <div class="modal-body">
                <form name="userForm">
                    <div class="panel-content p-b-0" ng-hide="load">
                        <div class="col-lg-12 m-l-5">
                            <label class="input-label" for="taskid"><b>Task Id:</b></label>
                            <span class="input input--hoshi taskid-input m-l-0 f-14 input-load">
                            <input class="input__field input__field--hoshi m-t-0 m-b-5" type="text" id="taskid" ng-model="taskId" ng-focus="hideErr()" placeholder="SKL16.XL.01.01.01.A1">
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" id="placeholder-line" for="taskid">
                                <span class="input__label-content input__label-content--hoshi m-b-15"></span>
                            </label>
                            </span>
                        </div>
                        <div class="err-msg1" style="display:none" ng-model="errmsg">{{errmsg}}</div>
                    </div>
                    <div class="panel-content p-b-0" ng-show="load">
                        <div class="col-lg-12 m-l-5">
                            <div class="icheck-list">
                                <div class="row p-l-0">
                                    <input i-check type="radio" name="load-task-options" ng-model="loadTaskOption" value="1" ng-change="hideErr()">
                                    Load from DB:
                                            <span class="input input--hoshi taskid-input m-l-0 f-14 input-load">
                                                <input class="input__field input__field--hoshi m-t-0 m-b-5" type="text" id="loadTaskId" value="{{taskId}}" ng-model="taskId" ng-focus="hideErr()" placeholder="SKL16.XL.01.01.01.A1">
                                                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="loadTaskId">
                                                    <span class="input__label-content input__label-content--hoshi m-b-15"></span>
                                                </label>
                                            </span>
                                </div>
                                <div class="err-msg1" style="display:none" ng-model="errmsg">{{errmsg}}</div>
                                <div class="row p-l-0">
                                    <input i-check type="radio" name="load-task-options" ng-model="loadTaskOption" value="2" ng-change="hideErr()">
                                    Load from FileSystem:
                                    <input id="files" type="file" />
                                </div>
                                <div class="err-msg2" style="display:none" ng-model="errmsg2">{{errmsg2}}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="text-right">
                        <button type="reset" class="cancel btn btn-embossed btn-white m-r-8 m-t-10" data-dismiss="modal">Cancel</button>
                        <button id="confirmText" type="submit" class="btn btn-embossed btn-primary m-r-20 m-t-10"
                                ng-click="clickAction()">{{confirmText}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>