@import "colors";

#topband {

  .pipe {
    font-size: 30px;
    margin-right: 10px;
    border-left: solid #d2d2d2;
    height: 35px;
  }

  .margin-minus-r-l-20 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .taskid-input {
    max-width: 100%;
  }

  .taskid-input > input {
    font-weight: normal;
    padding-bottom: 15px;
  }

  .appname-collapsed {
    //  margin-left: 0%;
    color: @color-green-blue;
  }

  .edit-icon {
    color: @color-light-grey;
    font-size: 22px;
    padding-left: 90px;
    >i {
      display: inline-block;
      margin-top: 10px;
      vertical-align: top;
    }
  }

  .application-label {
    font-size: 16px;
    font-weight: bold;
  }

  .application-value {
    font-size: 16px;
    font-weight: normal;
  }

  .breadcrum-text {
    margin: 10px 0;
    font-size: 16px !important;
  }

  .application-dd-combo {
    max-width: 345px;
  }

  .application-value-dd {
    display: inline-block;
    width: 200px;
  }

  .scenario-value-dd {
    display: inline-block;
    width: 120px;
  }
}
