@import "colors";

.left-sidebar {
  .header {
    color: #7c7c7d;
    font-size: 14px;
  }

  .nav-sidebar {
    font-size: 14px;
  }
}

#modal-exportModal {

  .panel-content {
    margin-top: 20px !important;
  }

}

#modal-loadtask {

  input[type=file] {
    display: inline-block;
  }

  .input {
    margin: 0;
  }

  .input-load {
    top: -12px;
    left: 25px;
  }

  .panel-content {
    margin-top: 40px !important;
  }
}
