@import "colors";

.left-sidebar {
  .header {
    color: #7c7c7d;
    font-size: 14px;
  }

  .nav-sidebar {
    font-size: 14px;
  }
}


#modal-loadtask {

  input[type=file] {
    display: inline-block;
  }

  .input-load {
    top: -25px;
    left: 25px;
  }
}
