@import "colors";
@import "../variable";

#quickview-sidebar {

  .quickview-header {

    .nav > li {
      width: 100%;
      text-align: left;
    }

  }

  .placeholder-ui {
    border: 2px dotted @tm-primary;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .item-level-0 {
    cursor: pointer;
  }

  .item-level-0:hover {
    .control-btn {
      display: inline-block !important;
    }
    background-color: rgb(235, 246, 248);
  }

  .dd3-content {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;

    h4 {
      font-weight: 500;
      padding-left: 20px;
      font-size: 16px;
      padding-bottom: 6px;
      padding-right: 35px;
    }

    h5 {
      padding-left: 30px;
    }

  }

  .border-left {
    border-left: 1px solid @tm-primary !important;
  }

  .dd-list .dd-list {
    padding-left: 0;
    button {
      margin-left: 10px;
    }

    .dd3-content {
      border: none;
      border-bottom: 1px dashed @main-color-light;

    }
  }

}






