@import "colors";
@import "../variable";

#quickview-sidebar {

  right: -450px;

  #runner-settings {
    padding: 0 20px;
  }

  .quickview-header {

    .nav > li {
      width: 100%;
      text-align: left;
    }

    .nav > li > a {
        text-transform: capitalize;
      font-size: large;
      padding-top: 12px;
    }

  }

  .placeholder-ui {
    border: 2px dotted @tm-primary;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #item-panel {
    margin: 10px 0 0 0;
  }

  .item-level-0 {
    cursor: pointer;
    .fa.fa-chevron-down {
      color: rgb(201,200,200);
      position: absolute;
      top:21px;
      right: 30px;
      z-index: 2;
    }
	}

  .item-level-0:hover {
    .control-btn {
      display: inline-block !important;
    }
    background-color: rgb(235, 246, 248);
  }


  .item-level-0.bg-primary {
    .icheckbox_square-blue {
      display: inline-block;
      *display: inline;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      width: 22px;
      height: 22px;
      border: none;
      cursor: pointer;
      background-position: 0 0;
    }

    .icheckbox_square-blue.hover {
      background-position: -24px 0;
    }
    .icheckbox_square-blue.checked {
      background-position: -48px 0;
    }
    .icheckbox_square-blue.disabled {
      background-position: -72px 0;
      cursor: default;
    }
    .icheckbox_square-blue.checked.disabled {
      background-position: -96px 0;
    }
		
	.fa.fa-chevron-down {
		color: white;
	}
	
	h4 {
		span {
			padding-left: 5px;
		}
	}
  }



  .dd3-content {
    margin: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 10px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;

    h4 {
      font-weight: 500;
      padding-left: initial;
      font-size: 16px;
      padding-bottom: 6px;
      padding-right: 35px;
    }

    h5 {
      padding-left: 30px;
    }

  }

  .border-left {
    border-left: 3px solid @tm-primary !important;
  }

  .dd-list .dd-list {
    padding-left: 0;
    button {
      width: 50%;
    }

  }

  .run-task-btn {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(53,57,64);
    color: white;
  }

  .run-task-btn:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
  }

  .pathway-btn {
    margin-bottom: 30px;
    margin-top: 15px;

    .add-pathway, .generate-pathway {
      //padding-left: 5%;
      background-color: white;
      color: black;
      border: 1px solid lightgrey;
    }

    .add-pathway:hover, .generate-pathway:hover {
      border: 1px solid grey;
      box-shadow: 0px 0px 5px #888888;
    }

  }

  .run-pathway, .publish-svn {
    margin-bottom: 10px;
    padding-left: 5%;
    background-color: rgb(53,57,64);
    color: white;
    border: 1px solid black;
  }

  .run-pathway:hover, .publish-svn:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 5px black;
  }

  .disablebtn {
    background-color: rgb(234,234,234);
    color: rgb(204,204,204);
	cursor: default;
    border: none;
  }

  .disablebtn:hover {
    border: 0px;
    box-shadow: 0px 0px;
  }

  .use-select2 {
    background-color: white;
    overflow: visible;
    height: 225px;
    border: none;
    padding: 0px;
    margin-bottom: 10px;

    :first-child {
      border-top: 2px dotted lightgray;
    }
  }

  .methtype {
    background-color: white;
    border-bottom: 2px dotted lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 12px;
    border-collapse: collapse;
  }

  .inline-icon {
    margin-right: 6%;
  }

  .pathway-list {
    background: rgb(242,242,242);
    color:black;
    border-bottom: 2px dotted rgb(161,160,160);
    padding:9px;
    font-size:13px;

    &:last-of-type {
      margin-bottom: 30px;
    }

    .fa-trash {
      color: rgb(161,160,160);
      float:right;
      font-size:18px;
      cursor: pointer;
    }
  }

  hr {
    border: 1px dashed #eaeaea;
  }
 
}






