@import "colors";
#custom {
  .appname-topband-collapsed {
    //  margin-left: 0%;
    color: @color-green-blue;
  }
}

#trigger {
  .trigger-text {
    display: inline-block;
    max-width: 85%;
  }

  .trigger-dragger {
    display: inline-block;
    color: @color-light-grey;
    font-size: 16px;
  }
}
