<!-- BEGIN PAGE SPINNER -->
<div spinner-loader class="page-spinner-loader">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<!-- END PAGE SPINNER -->

<section>
    <!-- BEGIN SIDEBAR -->
    <div class="sidebar" menu-sidebar>
    </div>

    <!-- modal-->
    <div class="row">
        <div class="modal fade primary-modal" id="modal-loadtask" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        EDIT SCRIPT
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>

                    <hr  class="m-0">
                    <div class="modal-body">
                        <form name="userForm">
                            <div class="panel-content p-b-0">
                                <!---->
                                <div class="col-lg-12 m-l-5">
                                    <div class="row p-l-0">
                                        <div class="col-md-6 m-b-20 m-t-5">
										<span class="input input--hoshi taskid-input m-l-0 f-14">
											<input class="input__field input__field--hoshi m-t-0 m-b-5" type="text" id="loadTaskId" value="{{loadTaskId}}" ng-model="loadTaskId" placeholder="Task Id">
											<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="loadTaskId">
                                                <span class="input__label-content input__label-content--hoshi m-b-15"></span>
                                            </label>
										</span>
                                        </div>
                                    </div>
                                </div>
                                <!---->

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <!--<div class="row margin-minus-r-l-20">-->
                        <div class="row">
                            <div class="text-right">
                                <button type="reset" class="cancel btn btn-embossed btn-white m-r-20 m-t-10" data-dismiss="modal">Cancel</button>
                                <button id="loadtask-sidebar" type="submit" class="btn btn-embossed btn-primary m-r-20 m-t-10"
                                        ng-click="loadScript()">Save / Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!-- END SIDEBAR -->
    <div class="main-content">
        <!-- BEGIN TOPBAR -->
        <div class="topbar">
            <div class="header-left">
                <div class="topnav">
                    <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
                </div>
            </div>
            <span id="application-title">SIM5 Automation Tool</span>
            <div class="header-right">
                <ul class="header-menu nav navbar-nav">
                    <li class="dropdown" id="user-header">
                        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-user m-r-10"></i>
                            <span class="username">Hi,&nbsp;&nbsp;{{name}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="icon-user"></i><span>Profile</span></a>
                            </li>
                            <li>
                                <a href="/logout"><i class="icon-logout"></i><span>Logout</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- RUNNER ICON -->
                    <li id="quickview-toggle"><a href="#"><i class="fa fa-indent"></i></a></li>
                </ul>
            </div>
            <!-- header-right -->
        </div>
        <!-- END TOPBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <!-- Modified by Shipra: Used ui-view in-place of ng-view -->
        <div ui-view class="at-view-slide-in-left page-content">
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END MAIN CONTENT -->

</section>

<!-- BEGIN QUICKVIEW SIDEBAR -->
<div id="quickview-sidebar" runner-launcher>
</div>
<!-- END QUICKVIEW SIDEBAR -->

<!-- BEGIN PRELOADER -->
<div class="loader-overlay">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>