<!doctype html>
<html lang="en" class="no-js" ng-app="automationApp">
    {{>head}}
    <body class="fixed-topbar fixed-sidebar theme-sdtl color-default">
    	
		<div class="app" id="app" ui-view></div>
        
		{{>foot}}
    </body>
</html>