<!doctype html>
<html lang="en" class="no-js" ng-app="automationApp">
    {{>head}}
    <body id="body" ng-controller="AppController" class="fixed-topbar fixed-sidebar theme-sdtl color-default">
		
		{{{body}}}
		
    	{{>foot}}
    </body>
</html>