<div class="quickview-header" xmlns="http://www.w3.org/1999/html">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" class="settings-tab">Task Runner</a></li>
        <li class=""><a data-toggle="tab" class="config-tab">Configuration</a></li>
    </ul>
</div>
<div class="quickview">
    <div class="tab-content">

        <div class="tab-pane fade active in" id="runner-settings">
            <div class="dd nestable">
                <ol id="item-panel" class="dd-list" ng-repeat="item in items[0].items">
                    <li class="li-level-0 dd-item m-b-10" data-id="{{$index}}">
                        <div class="item-level-0 dd3-content border-left">
                            <h4><input i-check ng-model="itemSelection" type="checkbox" id="run-item-{{$index}}" name="Item" value="" class="runner-item-check"><span>Item {{$index+1}}</span><i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
                        </div>
                        <div class="data-items" style="display: none">
                            <ol class="dd-list">
                                <li class="li-level-1 dd-item">
                                    <div class="item-level-1 dd3-content p-b-10">
                                        <div class="icheck-list">
                                            <label ng-repeat="method in item.methods">
                                                <input i-check class="runner-method-radio" type="radio" name="method-radio-{{$parent.$index}}" ng-model="methodSelection[$parent.$index]" data-method="{{$index+1}}" value="{{$parent.$index+1}}/{{$index+1}}">
                                                M{{$index+1}}  <span class="method-type-value">({{method.type}})</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </li>
                </ol>
            </div>
            <button class="btn btn-default run-task-btn disablebtn m-t-10"><i class="fa fa-play inline-icon" aria-hidden="true"></i>Run Task</button>

            <hr/>

            <div class="title ptwy">Pathway Groups </div>

            <div>

                <select multiple class="form-control use-select2 pathway-group">
                    <option class="methtype" ng-repeat="methodtype in $root.globalConstants.methodtypelist" value="{{methodtype}}"><span>{{methodtype}}</span></option>
                </select>

                <div class="btn-group pathway-btn">
                    <button class="btn btn-default add-pathway"><i class="fa fa-plus inline-icon" aria-hidden="true"></i></i>Add Pathway</button>
                    <button class="btn btn-default generate-pathway"><i class="fa fa-plus inline-icon" aria-hidden="true"></i></i>Generate Pathways</button>
                </div>

                <div class="pathway-list" ng-repeat="pathwayList in items[1] track by $index">
                    <span ng-repeat="pathway in pathwayList.pathway">
                        <pathway-band></pathway-band>
                    </span>
                    <span>
                        : {{pathwayList.group}} <i class="fa fa-trash delete-pathway" aria-hidden="true"></i>
                    </span>
                </div>

                <button class="btn btn-default run-pathway disablebtn" disabled="true"><i class="fa fa-play inline-icon" aria-hidden="true"></i></i>Run Pathways</button>
            </div>

            <button class="btn btn-default publish-svn disablebtn" disabled="true"><i class="fa fa-external-link inline-icon" aria-hidden="true"></i></i>Publish Files to Server</button>

        </div>

        <div class="tab-pane fade" id="runner-config">

            <section>
                <div class="host p-t-10">
                    <label>Host:</label>
                        <select class="form-white hostselect dd-container" data-style="white" ng-model="host">
                            <option ng-repeat="host in $root.globalConstants.runner.host" value="{{host}}">{{host}}</option>
                        </select>
                </div>
                <div class="os p-t-10">
                    <label>OS:</label>
                    <select class="form-white osselect dd-container" data-style="white">
                        <option ng-repeat="os in $root.globalConstants.runner.os" value="{{os}}">{{os}}</option>
                    </select>
                </div>
                <div class="browser p-t-10">
                    <label>Browser:</label>
                    <select class="form-white brselect dd-container" data-style="white">
                        <option ng-repeat="browser in $root.globalConstants.runner.browser" value="{{browser}}">{{browser}}</option>
                    </select>
                    <span class="p-l-10">
                        <input ng-model="brversion" class="form-control form-white p-l-10" type="text" placeholder="Browser Version" value="{{brversion}}">
                    </span>
                    <label class="p-t-10">Browser Node:</label>
                    <span class="p-l-10">
                        <input ng-model="brnode" class="form-control form-white p-l-10" type="text" placeholder="Node Name" value="{{brnode}}">
                    </span>

                </div>
            </section>
            <section>
                <label>Application URL:</label></br>
                <input ng-model="appurl" class="form-control form-white m-l-10" type="text" placeholder="App URL">
                <span>
                    <label class="p-r-5">Is App Url Public:{{}}</label>
                    <input ng-model="appurlpublic" i-check type="checkbox" data-checkbox="icheckbox_minimal-blue">
                </span>
                <span class="p-l-10">
                    <input ng-model="simsbuild" class="form-control form-white p-l-10" type="text" placeholder="SIMS Build Version" value="{{simsbuild}}">
                </span>
            </section>

        </div>

    </div>
</div>