<div class="account separate-inputs" data-page="login" id="account">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <i class="user-img icons-faces-users-03"></i>

                    <form id="password-login" class="form-signin">
                        <div class="append-icon m-b-10">
                            <input type="text" name="username" id="username" ng-model="credentials.username" class="form-control form-white username" placeholder="Username" required>
                            <i class="icon-user"></i>
                        </div>
                        <div class="append-icon m-b-20">
                            <input type="password" name="password" ng-model="credentials.password" class="form-control form-white password" placeholder="Password" required>
                            <i class="icon-lock"></i>
                        </div>
                        <button type="submit" id="submit-form" class="btn btn-lg btn-success btn-block ladda-button" data-style="expand-left" ng-click="submitLoginForm()">Sign In</button>
                    </form>

                    <div class="social-btn">
                        <button id="customSignIn" ng-click="googleSignUp()" type="button" class="g-signin btn btn-lg btn-block btn-danger">
                            <i class="fa fa-google pull-left"></i>Sign In with Google
                        </button>
                    </div>

                    <div class="clearfix">
                        <!--<p class="pull-left m-t-20"><a id="password" href="#">Forgot password?</a></p>-->
                        <p class="pull-right m-t-20"><a ui-sref="register-user">New here? Sign up</a></p>
                    </div>

                </div>
            </div>
        </div>
        <p class="account-copyright">
            <span>Copyright © 2016 - 2017 </span><span> Compro Technologies. </span><span>All rights reserved.</span>
        </p>
</div>
</div>

<script>
    (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>
<script type="text/javascript" src = "https://plus.google.com/js/client:platform.js"></script>


