@import "custom/colors";
@import "custom/action-list";
@import "custom/item-panel";
@import "custom/item-topband";
@import "custom/left-sidebar";
@import "custom/runner-aside";

//* {
//  font-size: 100%;
//  font-family: Arial;
//}

html {
  overflow-x: scroll;
  min-width: 1280px
}

#account {
  background: #2f4050;
}

.control-label {
  font-size: 16px;
}

#application-title {
  font-size: 26px;
  margin: 10px 15px;
  font-family: inherit;
  line-height: 46px;
}

.error-modal {
  .modal-header {
      background-color: #C9625F !important;
      color: #fff !important;
  }
}

.largeWidth {
  width: 100%;
}

.smallWidth {
  width: 49%;
}

.inlineBlock {
  display: inline-block;
}

.toggle-animate.ng-show-add, .toggle-animate.ng-show-remove {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
  display:block!important;
}
.toggle-animate.ng-show-add.ng-show-add-active,
.toggle-animate.ng-show-remove {
  opacity:0;
}
.toggle-animate.ng-show-add,
.toggle-animate.ng-show-remove.ng-show-remove-active {
  opacity:1;
}